<div class="card-header">
  <h1>Storage</h1> 
</div>
<div class="row">
  <div class="col-sm-2" >
    <button aria-pressed="true" (click)='navigate()' class="btn btn-block btn-ghost-primary active" type="button" aria-setsize="40px">Question</button>
    <button aria-pressed="true"(click)='navigate1()' class="btn btn-block btn-ghost-primary active" type="button" aria-setsize="40px">Storage</button>
    
  </div>
<div class="col-sm-5">

  <div class="dropzone" 
  dropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering">





  <h3>Storage Drop Zone</h3>
  <p>Drag and Drop a File</p>
  <div class="file">
     <label class="file-label">




     <input class="file-input" type="file" (change)="onDrop($event.target.files)">




       <span class="file-cta">
         <span class="file-icon">
           <i class="fa fa-upload"></i>
         </span>
         <span class="file-label">
           or choose a file…
         </span>
       </span>
     </label>
   </div>
</div>

<h3>Uploads</h3>

<div *ngFor="let file of files">
<upload-task [file]="file"></upload-task>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-body">
          <table class='table'>
            <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Name</th>
              
              
            
        
            </tr>
          </thead>
              <tr *ngFor="let address of storages">
        
                <!-- <td>{{address.id}}</td> -->
                <td>{{address.name}}</td>
                <td><button (click)="deleteData(address)">Delete</button></td>
        
        
        
        
        
              </tr>
        
          </table>
          
        </div>
      </div>
    </div>
        
        
</div>
 


