<div class="card-header">
    <h1>Question</h1> 
  </div>
  <div class="row" >
    <div class="col-sm-2" >
      <button aria-pressed="true"  class="btn btn-block btn-ghost-primary active" type="button" aria-setsize="40px">Question</button>
      <button aria-pressed="true" class="btn btn-block btn-ghost-primary active" type="button" aria-setsize="40px">Storage</button>
      
    </div>
  <div class="col-sm-5">
              <div class="card">
                <div class="card-header">
                   Question 
                </div>
                <div class="card-body">
                  <form  >
                    <div class="form-group">
                      <label for="ccmonth">Domain Type : </label>
                      <select class="form-control" id="ccmonth" required #domain>
                        <option>Apptitute</option>
                        <option>Technical</option>
                        <option>Verbal</option>
                        
                      </select>
                    </div>
  
                    <div class="form-group">
                      <label for="ccmonth" >Difficulty Level : </label>
                      <select class="form-control" id="ccmonth"  value="2" >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                    
  
                    <div class="form-group">
                      Enter The Question :
                      <div class="input-group">
                
                        <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                        </div>
                        <input type="text" name="Question" placeholder="Enter the Question" class="form-control" required #question>
                      </div>
                    </div>
                    
                    
                    
                   
                    <div class="form-group form-actions">
                      <br>
                      <button type="submit"  class="btn btn-sm btn-success">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>